NODE_ENV=development
NODE_PORT=3000

#
# DATABASE
#
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ENV_PROJECT_NAME_development

TYPEORM_HOST=db
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=ENV_PROJECT_NAME
TYPEORM_SYNCHRONIZE=false
TYPEORM_LOGGING=
TYPEORM_LOGGER=advanced-console

#
# PATH STRUCTRUE
#
TYPEORM_MIGRATIONS_DIR=src/database/migrations/
TYPEORM_ENTITIES_DIR=src/database/models/
TYPEORM_SEEDS_DIR=src/database/seeds/
